* {
  font-family: "Exo";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  transition: 0.5s all;
}

html {
  overflow-y: scroll;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
  background-color: #0dcaf09a;
}

.header-list {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  a {
    padding: 10px;
    text-decoration: none;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    &:hover {
      filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.7));
      text-decoration: underline;
    }
  }
}

.noselect {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

h4 {
  text-transform: uppercase;
}
h6 {
  color: white;
  padding-top: 8px;
}

.car-details {
  margin-top: 70px;
}

span {
  font-weight: 600;
}

.comparatore {
  margin-top: 5rem;
}

.comparatore span {
  font-weight: 600;
}

.car-image {
  overflow: hidden;
  width: 700px;
  border-radius: 20px;
  img {
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  &:hover {
    box-shadow: 0px 0px 40px rgb(141, 137, 137);
  }
}

.logo {
  aspect-ratio: 1/1;
  width: 130px;
  max-width: 150px;
  user-select: none;
}

.full-star {
  cursor: pointer;
  font-size: 1.5em;
  fill: #0dcaf0;
  margin-right: 15px;
}

.empty-star {
  cursor: pointer;
  font-size: 1.5em;
  margin-right: 15px;
}

.full-star-detail {
  fill: #0dcaf0;
  cursor: pointer;
}

.empty-star-detail {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 100px;
  left: 0;
  color: white;
  z-index: 10;
  width: 100%;
  height: calc(100vh - 100px);
  user-select: none;
}

.list-card {
  background-color: rgba(0, 0, 0, 0.419);
  border-radius: 30px;
  padding: 15px;
  &:hover {
    background-color: black;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.7));
  }
}

.info-card {
  background-color: rgba(239, 239, 239, 0.2);
  border-radius: 30px;
  padding: 2em;
  margin: 1rem 0;
  user-select: none;
  &:hover {
    background-color: rgba(239, 239, 239, 0.4);
  }
}

.favorite-logo {
  user-select: none;
  width: 200px;
  height: 200px;
}

.video-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1;
  transition: 0s all;
}

video {
  width: 100vw;
  height: 100vh;
  transform: scale(2);
  transition: 0s all;
}

.btn-grey {
  border: 1px solid rgb(46, 46, 46);
  background-color: rgb(46, 46, 46);
}

.choises {
  color: rgb(253, 207, 0);
  font-weight: 600;
}

select option {
  color: rgb(46, 46, 46);
}

.category-select {
  width: 70%;
}
.description {
  font-style: italic;
}

.icons {
  fill: rgb(46, 46, 46);
  font-size: 1.8rem;
}

.form-control {
  margin-bottom: 0.7em;
}

.error-message {
  color: rgb(255, 77, 77);
  font-weight: 400;
  font-size: 0.9em;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .favorite-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .favorite-card img {
    max-width: 100px;
    margin-bottom: 10px;
  }

  .car-image {
    width: 500px;
    margin-left: 0px;
  }
  .favorite-logo {
    user-select: none;
    max-width: 200px;
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .car-image {
    width: 400px;
    margin-left: 0px;
  }
}
