* {
  font-family: "Exo";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.header-list {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  a {
    padding: 10px;
    text-decoration: none;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgba(93, 93, 93, 0.8);
    font-weight: 600;
    &:hover {
      color: rgb(44, 44, 44);
    }
  }
}

.pointer {
  cursor: pointer;
}

h4 {
  text-transform: uppercase;
}
h6 {
  color: white;
  padding-top: 8px;
}

.car-details {
  margin-top: 70px;
}

span {
  font-weight: 600;
}

.comparatore {
  margin-top: 5rem;
}

.comparatore span {
  font-weight: 600;
}

.logo {
  aspect-ratio: 1/1;
  max-width: 150px;
  user-select: none;
}

.video-home {
  width: 100%;
  height: calc(100vh - 100px);
}

.full-star {
  font-size: 1.3rem;
  cursor: pointer;
  margin-bottom: 4px;
}

.full-star-detail {
  color: rgb(253, 207, 0);
  font-size: 3.2rem;
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 4px;
}

.empty-star-detail {
  color: rgb(253, 207, 0);
  font-size: 3rem;
  cursor: pointer;
  margin-left: 6px;
  margin-bottom: 4px;
}
.empty-star {
  color: rgb(253, 207, 0);
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 4px;
}

.overlay {
  position: absolute;
  top: 100px;
  left: 0;
  color: white;
  z-index: 10;
  width: 100%;
  height: calc(100vh - 100px);
  user-select: none;
}

.info-card {
  background-color: rgba(239, 239, 239, 0.2);
  border: 1px solid rgba(239, 239, 239, 0.2);
  padding: 2em;
  margin: 1rem 0;
  user-select: none;
  &:hover {
    border: 1px solid rgba(239, 239, 239, 0.4);
    background-color: rgba(239, 239, 239, 0.4);
  }
}

.favorite-logo {
  user-select: none;
  aspect-ratio: 1/1;
  max-width: 150px;
}

.video-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1;
}

video {
  width: 100vw;
  height: 100vh;
  transform: scale(2);
}

.btn-grey {
  border: 1px solid rgb(46, 46, 46);
  background-color: rgb(46, 46, 46);
}

.choises {
  color: rgb(253, 207, 0);
  font-weight: 600;
}

select option {
  color: rgb(46, 46, 46);
}

.category-select {
  width: 70%;
}

@media (max-width: 768px) {
  .favorite-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .favorite-card img {
    max-width: 100px;
    margin-bottom: 10px;
  }
}
